#templateCustomDownloadBtn {
  margin-left: 2vw;
}

/* Gallery Carousel overriding */
.css-br29ai .css-1ycyyax > span:first-child {
  font-size: 1.3rem;
}
.css-zjq1i3{
  cursor: pointer;
}
.css-1n3jih6 {
  justify-content: space-evenly !important;
}
/* *********** */
